.ui-main-placeholder-loc {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

#i_t {
	left: 793px;
	top: 162px;
}

#o_t {
	left: 815px;
	top: 76px;
}

#g_t {
	left: 794px;
	top: 436px;
}


#Ta_t {
	left: 12px;
	top: 10px;
}

#TaBox {
	left: 34px;
	top: 30px;
}

#PiBox {
	left: 662px;
	top: 129px;
}

#TiBox {
	left: 741px;
    top: 129px;
}

#PoBox {
	left: 662px;
	top: 42px;
}

#ToBox {
	left: 741px;
	top: 42px;
}

#Pd_t {
	left: 716px;
	top: 210px;
}

#PdBox {
	left: 741px;
	top: 228px;
}

#K1_t {
	left: 100px;
	top: 380px;
}

#K1 {
	left: 136px;
	top: 408px;
}

#K1Al {
	left: 108px;
	top: 266px;
	display: none;
}

#G1Al {
	left: 130px;
	top: 396px;
	display: none;
}

#K1N {
	left: 139px;
	top: 210px;
}

#K1Y {
	left: 51px;
	top: 129px;
}


#K2_t {
	left: 305px;
	top: 380px;
}

#K2 {
	left: 343px;
	top: 408px;
}

#K2Al {
	left: 316px;
	top: 266px;
	display: none;
}

#G2Al {
	left: 337px;
	top: 396px;
	display: none;
}

#K2N {
	left: 347px;
	top: 209px;
}

#K2Y {
	left: 259px;
	top: 129px;
}

#N1_t {
	left: 546px;
	top: 150px;
}

#N1 {
	left: 552px;
	top: 166px;
}

#N1Al {
	left: 546px;
	top: 155px;
	display: none;
}

#N2_t {
	left: 546px;
	top: 212px;
}

#N2 {
	left: 552px;
	top: 228px;
}

#N2Al {
	left: 546px;
	top: 217px;
	display: none;
}

#Y3Box {
	left: 455px;
	top: 40px;
}

#Fq_t {
	left: 511px;
	top: 283px;
}

#FqBox {
	left: 533px;
	top: 300px;
}

#Tk1Box {
	left: 121px;
	top: 300px;
}

#Tk2Box {
	left: 329px;
	top: 300px;
}

#BoilAl {
	left: 642px;
	top: 266px;
	display: none;
}

