.ui-main-placeholder {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

.ui-bar-main {
	text-align: center;
}

.ui-bar-y {
	background-color: #5c3566;
    border-width: 1px;
    border-style: solid;
	border-color: #a40000;
	color: #FFF;
	text-shadow: 0px 1px 0px #111;
	font-weight: 700;
}

.ui-table-z {
	width: 100%;
	background-color: #ffffff;
	border-collapse: collapse;
	color: #333;
	text-shadow: 0px 1px 0px #EEE;
	font-weight: 700;
	font-size: 1.0em;
}

.ui-table-z TBODY TD, .ui-table-z THEAD TD, .ui-table-z THEAD TH, .ui-table-z TFOOT TD {
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	text-align: center;
}

.ui-table-z TFOOT TH {
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	text-align: right;
	padding-right: 16px;
}

.ui-table-title {
	font-size: 0.85em;
}

.ui-table-td-55 {
	width: 55%;
}

.ui-table-td-30 {
	width: 30%;
}

.ui-table-td-20 {
	width: 20%;
}

.ui-table-td-15 {
	width: 15%;
}

.ui-table-td-10 {
	width: 10%;
}

.ui-table-td-1 {
	width: 1%;
}

.ui-table-td-alarm {
	background: #ff0000;
}

.ui-icon-connected:after {
	background-image: url("images/connected-22.png");
}

.ui-icon-disconnected:after {
	background-image: url("images/disconnected-22.png");
}

.ui-bitlampblink {
	position: absolute;
	z-index: 200;
	display: block;
	width: 128px; 
	height: 128px; 
	background-image: url("images/warning-1.png");
}

.ui-kpi {
    background-color: #90ee90;
}

.ui-main-log {
	height: 150px;
	overflow: auto;
}

.ui-log-stamp {
	font-size: 0.85em;
	width: 18%;
}

.ui-log-target {
	font-size: 0.85em;
	width: 16%;
}

.ui-log-text {
	font-size: 0.85em;
	text-align: left !important;
	padding-left: 4px;
}

.ui-footer-nocolor {
	background-color: rgb(249, 249, 249) !important;
	border-color: rgb(249, 249, 249) !important;
}

.ui-noactive {
	pointer-events: none !important;
	cursor: default !important;
}

.ui-none {
	display: none;
}

.ui-abs-100 {
	position: absolute;
	z-index: 100;
	/*background: #ffffff;*/
}

.ui-abs-101 {
	position: absolute;
	z-index: 100;
}

.ui-abs-110 {
	position: absolute;
	z-index: 110;
}

.ui-abs-120 {
	position: absolute;
	z-index: 120;
}

.ui-abs-200 {
	position: absolute;
	z-index: 200;
}

.ui-abs-300 {
	position: absolute;
	z-index: 300;
}

.ui-abs-bar-x {
	background: #ffffff;
	border-width: 0px;
}

.ui-abs-table-x {
	border-collapse: collapse;
}

.ui-abs-table-x TBODY TH, .ui-abs-table-x TBODY TD {
	border-width: 1px;
    border-style: solid;
	border-color: #000000;
	width: 60px;
}

.ui-abs-table-x TBODY TH {
	font-size: 1.0em;
}

.ui-abs-table-x TBODY TD {
	font-size: 0.85em;
}

.ui-abs-text {
	width: 230px;
	height: 40px;
	font-size: 1.15em;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 0px 0px #ffffff;
}

.ui-abs-text-u {
	width: 120px;
	height: 30px;
	font-size: 0.85em;
	text-align: left;
}

.ui-abs-text-x {
	width: 120px;
	height: 30px;
	font-size: 0.85em;
	text-align: center;
}

.ui-abs-text-y {
	width: 120px;
	height: 30px;
	font-size: 1.00em;
	text-align: center;
}

.ui-color-black {
	color: #000000;
}

.ui-color-red {
	color: #ff0000;
}

.ui-color-blue {
	color: #800080;
}

.ui-color-blue2 {
	color: #2a6099;
}

#Tloc_t {
	left: 825px;
	top: 238px;
}

#TlocBox {
	left: 854px;
	top: 260px;
}

#Res_t {
	left: 786px;
	top: 104px;
}

#PresBox {
	left: 762px;
	top: 28px;
}

#TresBox {
	left: 854px;
	top: 27px;
}

#Ret_t {
	left: 800px;
	top: 396px;
}

#PretBox {
	left: 566px;
	top: 355px;
}

#TretBox {
	left: 674px;
	top: 355px;
}

#Ext_t {
	left: 788px;
	top: 462px;
}

#PextBox {
	left: 604px;
	top: 426px;
}

#Clw_t {
	left: 788px;
	top: 484px;
}

#Y1_t {
	left: 30px;
	top: 312px;
}

#Y1Al {
	left: 34px;
	top: 314px;
	display: none;
}

#Y1St {
	left: 74px;
	top: 332px;
}

#H1_t {
	left: 628px;
	top: 50px;
}

#H1St {
	left: 629px;
	top: 70px;
}

#H2_t {
	left: 628px;
	top: 132px;
}

#H2St {
	left: 630px;
	top: 153px;
}

#B1_t {
	left: 162px;
	top: 309px;
}

#B1Fi {
	left: 204px;
	top: 338px;
}

#B1Al {
	left: 173px;
	top: 206px;
	display: none;
}

#B1St {
	left: 276px;
	top: 338px;
	display: none;
}

#B2_t {
	left: 372px;
	top: 309px;
}

#B2Fi {
	left: 414px;
	top: 338px;
}

#B2Al {
	left: 383px;
	top: 206px;
	display: none;
}

#B2St {
	left: 486px;
	top: 338px;
	display: none;
}

#Pwr_t {
	left: 118px;
	top: 464px;
}

#PwrSt {
	left: 76px;
	top: 454px;
}

#PwrAl {
	left: 34px;
	top: 456px;
	display: none;
}

