.ui-main-placeholder-loc {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

#Tloc_t {
	left: 30px;
	top: 10px;
}

#TlocBox {
	left: 54px;
	top: 30px;
}

#Res_t {
	left: 786px;
	top: 104px;
}

#PresBox {
	left: 760px;
	top: 30px;
}

#TresBox {
	left: 852px;
	top: 29px;
}

#Ret_t {
	left: 800px;
	top: 396px;
}

#PretBox {
	left: 564px;
	top: 357px;
}

#TretBox {
	left: 672px;
	top: 357px;
}

#Ext_t {
	left: 788px;
	top: 462px;
}

#PextBox {
	left: 602px;
	top: 428px;
}

#Clw_t {
	left: 788px;
	top: 484px;
}

#Gk_t {
	left: 30px;
	top: 312px;
}

#GkAl {
	left: 34px;
	top: 314px;
	display: none;
}

#Gk {
	left: 74px;
	top: 332px;
}


#K1_t {
	left: 162px;
	top: 309px;
}

#K1Burn {
	left: 204px;
	top: 338px;
}

#K1Al {
	left: 173px;
	top: 206px;
	display: none;
}


#K2_t {
	left: 372px;
	top: 309px;
}

#K2Burn {
	left: 414px;
	top: 338px;
}

#K2Al {
	left: 383px;
	top: 206px;
	display: none;
}


#Pump1_t {
	left: 628px;
	top: 50px;
}

#Pump1 {
	left: 629px;
	top: 70px;
}


#Pump2_t {
	left: 628px;
	top: 132px;
}

#Pump2 {
	left: 630px;
	top: 153px;
}


#BoilAl {
	left: 600px;
	top: 206px;
	display: none;
}

